{% import "home/modal.jinja" as modal %}

<div class="d-flex justify-content-between align-items-center border-bottom mb-4 pb-2">
    <h5>
        <i class="bi bi-{{item.icon}}"></i> 
        {{ item.name }}
    </h5>
    <div class="d-flex">
        <span>
            {{ modal.form_shortcut_app(false, none, item.id) }}
        </span>
        <span>
            {{ modal.form_category_app(true, item) }}
        </span>
    </div>
</div>
<div class="mb-4 pb-4">
    {% if item.id %}
        <div id="homeListShortcutApp-{{item.id}}" hx-get="/shortcut-app/list/{{item.id}}" hx-trigger="load, refresh from:body" hx-on::after-settle="htmx.process(this)"></div>
    {% else %}
        <div id="homeListShortcutApp-all" hx-get="/shortcut-app/list" hx-trigger="load, refresh from:body"></div>
    {% endif %}
</div>