{% macro resourceUsage(id) %}
    <div class="w-100">
        <canvas id="{{ id }}" class="w-100" style="height: 200px;" height="200">Loading...</canvas>
    </div>

    <script>
        fetch('/api/sys/data-tracker?size=25')
            .then(response => response.json())
            .then(resource => {
                const { DateTime } = luxon;

                let data = {
                    labels: resource.data.map(item => DateTime.fromISO(item.created_at).toFormat('HH:mm')),
                    datasets: [
                        {
                            label: "CPU Usage",
                            data: resource.data.map(item => item.cpu),
                            borderWidth: 1
                        },
                        {
                            label: "Memory Usage",
                            data: resource.data.map(item => item.memory),
                            borderWidth: 1
                        }
                    ]
                }
                const ctx = document.getElementById('{{ id }}');
                ctx.height = 200;

                new Chart(ctx, {
                    type: 'line',
                    data,
                    options: {
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                suggestedMax: 100
                            }
                        }
                    }
                });
            });

    </script>
{% endmacro %}

{% macro disk(id) %}
    <div class="w-100">
        <canvas id="{{ id }}" class="w-100" style="height: 200px;" height="200">Loading...</canvas>
    </div>

    <script>
        fetch('/api/sys/disk')
            .then(response => response.json())
            .then(resource => {
                const free = resource.data.free;
                const used = resource.data.used;
                const data = {
                    labels: ['Usage', 'Free'],
                    datasets: [{
                        data: [used, free],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                };
        
                const ctx = document.getElementById('{{ id }}');
                ctx.height = 250;

                new Chart(ctx, {
                    type: 'pie',
                    data,
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            });

    </script>
{% endmacro %}

{% macro realtimeCPU(id) %}
    <div class="w-100">
        <canvas id="{{ id }}" class="w-100" style="height: 200px;" height="200">Loading...</canvas>
    </div>

    <script>
        let db_cpu = [...new Array(30).fill({cpu_percent: null, datetime: "2025-02-07T16:12:28.166644"})]
        let chart_cpu;
        function updateData() {
            fetch('/api/sys/cpu-usage')
                .then(response => response.json())
                .then(resource => {
                    const { DateTime } = luxon;
                    db_cpu.push(resource.data);
                    if (db_cpu.length > 30) {
                        db_cpu.shift();
                    }
                    let data = {
                        labels: db_cpu.map(item => DateTime.fromISO(item.datetime).toFormat('HH:mm')),
                        datasets: [
                            {
                                label: "CPU Usage",
                                data: db_cpu.map(item => item.cpu_percent),
                                borderWidth: 1,
                                fill: true,
                                tension: 0.4
                            },
                        ]
                    }
                    
    
                    if (chart_cpu) {
                        chart_cpu.destroy();
                    }

                    const ctx = document.getElementById('{{ id }}');
                    ctx.height = 200;

                    chart_cpu = new Chart(ctx, {
                        type: 'line',
                        data,
                        options: {
                            maintainAspectRatio: false,
                            scales: {
                                x: {
                                    display: false, // Sembunyikan seluruh sumbu (termasuk label dan tick)
                                },
                                y: {
                                    beginAtZero: true,
                                    suggestedMax: 100,
                                }
                            },
                            animation: {
                                duration: 0, // Set duration ke 0 untuk animasi instan
                                easing: 'linear' // Gunakan easing linear untuk pergerakan konstan
                            },
                        }
                    });
                });
        }

        setInterval(updateData, 3000);

        updateData()

    </script>
{% endmacro %}

{% macro realtimeMemory(id) %}
    <div class="w-100">
        <canvas id="{{ id }}" class="w-100" style="height: 200px;" height="200">Loading...</canvas>
    </div>

    <script>
        let db_memory = [...new Array(30).fill({cpu_percent: null, datetime: "2025-02-07T16:12:28.166644"})]
        let chart_memory;
        function updateData() {
            fetch('/api/sys/memory-usage')
                .then(response => response.json())
                .then(resource => {
                    const { DateTime } = luxon;
                    db_memory.push(resource.data);
                    if (db_memory.length > 30) {
                        db_memory.shift();
                    }
                    let data = {
                        labels: db_memory.map(item => DateTime.fromISO(item.datetime).toFormat('HH:mm')),
                        datasets: [
                            {
                                label: "Memory Usage",
                                data: db_memory.map(item => item.percent_used),
                                borderWidth: 1,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                fill: true,
                                tension: 0.4
                            },
                        ]
                    }
                    
    
                    if (chart_memory) {
                        chart_memory.destroy();
                    }

                    const ctx = document.getElementById('{{ id }}');
                    ctx.height = 200;

                    chart_memory = new Chart(ctx, {
                        type: 'line',
                        data,
                        options: {
                            maintainAspectRatio: false,
                            scales: {
                                x: {
                                    display: false, // Sembunyikan seluruh sumbu (termasuk label dan tick)
                                },
                                y: {
                                    beginAtZero: true,
                                    suggestedMax: 100,
                                }
                            },
                            animation: {
                                duration: 0, // Set duration ke 0 untuk animasi instan
                                easing: 'linear' // Gunakan easing linear untuk pergerakan konstan
                            },
                        }
                    });
                });
        }

        setInterval(updateData, 3000);

        updateData();

    </script>
{% endmacro %}
