
{% extends "base.html" %}
{% import "home/chart.html" as cart %}
{% import "home/text.html" as text %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-6">
                <div id="systemInfo">
                    <h2>Informasi Sistem</h2>
                    {{text.base('Uptime', '/sys/uptime')}}
                    {{text.base('Sistem Operasi', '/sys/info', 'OperatingSystem')}}
                    {{text.base('Arsitektur', '/sys/info', 'Architecture')}}
                    {{text.base('Core CPU', '/sys/info', 'NCPU')}}
                    {{text.base('RAM', '/sys/info', 'MemTotal')}}
                </div>
            </div>
            <div class="col-md-6">
                {{ cart.disk('disk') }}
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col">
                {{ cart.resourceUsage('resource') }}
            </div>
        </div>
    </div>

    <script>
        
    </script>
{% endblock %}
