
{% extends "base.html" %}
{% import "home/chart.html" as cart %}
{% import "home/text.html" as text %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-8">
                <div id="systemInfo">
                    <h2>System Info</h2>
                    {{text.base('Uptime', '/api/sys/uptime')}}
                    {{text.base('Sistem Operasi', '/api/sys/info', 'OperatingSystem')}}
                    {{text.base('Arsitektur', '/api/sys/info', 'Architecture')}}
                    {{text.base('Core CPU', '/api/sys/info', 'NCPU')}}
                    {{text.base('RAM', '/api/sys/info', 'MemTotal')}}
                </div>
            </div>
            <div class="col-md-4">
                <div id="diskInfo">
                    <h2>Disk Info</h2>
                    {{ cart.disk('disk') }}
                </div>
            </div>
        </div>

        <div class="row align-items-start mb-5">
            <div class="col">
                <h2>CPU</h2>
                {{ cart.realtimeCPU('realtimeCPU') }}
            </div>
            <div class="col">
                <h2>Memory</h2>
                {{ cart.realtimeMemory('realtimeMemory') }}
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col">
                <h2>Resource Tracker</h2>
                {{ cart.resourceUsage('resource') }}
            </div>
        </div>
    </div>

    <script>
        
    </script>
{% endblock %}
