{% macro form_shortcut_app(edit = false, item = None, category_app_id = 0) %}
    {% if edit %}
        <button type="button" class="btn p-0 m-0" data-bs-toggle="modal" data-bs-target="#formShortcutApp-{{category_app_id}}-{{item.id}}" data-bs-whatever="@getbootstrap">
            <i class="bi bi-pencil-square"></i>
        </button>
    {% else %}
        <button type="button" class="btn m-0" data-bs-toggle="modal" data-bs-target="#formShortcutApp-{{category_app_id}}-{{item.id}}" data-bs-whatever="@getbootstrap">
            <i class="bi bi-plus-lg"></i>
        </button>
    {% endif %}

    <div class="modal fade" id="formShortcutApp-{{category_app_id}}-{{item.id}}" tabindex="-1" aria-labelledby="formShortcutAppLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="formShortcutAppLabel">App</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form
                        id="form-shortcut-app"
                        hx-post="/shortcut-app/save"
                        hx-target="#_alert" 
                        hx-swap="afterbegin"
                        hx-on::after-request="
                            if(event.detail.successful){
                                const isEdit = {{edit | tojson}};
                                if(!isEdit) {
                                    this.reset();
                                }
                                let modalEL = document.getElementById('formShortcutApp-{{category_app_id}}-{{item.id}}');
                                let modal = bootstrap.Modal.getInstance(modalEL);
                                if (!modal) {
                                    return
                                }
                                modal.hide();
                                htmx.trigger('#homeListShortcutApp-{{category_app_id}}', 'refresh'); 
                            }
                        "
                    >
                        {% if edit %}
                            <input type="text" hidden id="id-app" name="id" value="{{item.id}}">
                        {% endif %}

                        <div class="mb-3">
                            <label for="name-app" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name-app" name="name" value="{{item.name}}" placeholder="App name">
                        </div>
                        <div class="mb-3">
                            <label for="link-app" class="col-form-label">Link <a href="https://icons.getbootstrap.com/"><i class="bi bi-info-circle"></i></a></label>
                            <input type="text" class="form-control" id="link-app" name="link" value="{{item.link}}" placeholder="Full path link">
                        </div>
                        <div class="mb-3">
                            <label for="icon-app" class="col-form-label">Icon</label>
                            <input type="text" class="form-control" id="icon-app" name="icon" value="{{item.icon}}" placeholder="Ex: x-circle">
                        </div>
                        <div class="mb-3">
                            <label for="category-app" class="col-form-label">Category</label>
                            <select 
                                id="category-app-{{category_app_id}}-{{item.id}}" 
                                hx-get="/category-app/list/options?default={{category_app_id}}"
                                hx-trigger="load"
                                hx-target="#category-app-{{category_app_id}}-{{item.id}}" 
                                hx-swap="innerHTML"
                                class="form-select"
                                name="category_app_id"
                                hx-on::after-request="false"
                            >
                                <option>Loading...</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="description-text" class="col-form-label">Description</label>
                            <textarea class="form-control" id="description-text" name="description" placeholder="Input description">{{item.description}}</textarea>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                {% if edit %}
                                    <button
                                        id="deleteShortcutApp-{{item.id}}"
                                        type="button" 
                                        class="btn btn-outline-danger"
                                        hx-delete="/shortcut-app/{{item.id}}"
                                        confirm-with-sweet-alert='true'
                                        hx-trigger='confirmed'
                                        onClick="Swal.fire({title: 'Confirm', text:'Do you want to continue?'}).then((result)=>{
                                            if(result.isConfirmed){
                                            htmx.trigger(this, 'confirmed');  
                                            } 
                                        })"
                                        hx-target="#_alert"
                                        hx-on::after-request="htmx.trigger('#homeListShortcutApp-{{item.category_app_id}}', 'refresh');"
                                    >
                                        Delete
                                    </button>
                                {% endif %}
                            </div>
                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro form_category_app(edit = false, item = None) %}
    {% if edit %}
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formCategoryApp-{{item.id}}" data-bs-whatever="@getbootstrap">
            <i class="bi bi-pencil"></i>
        </button>
    {% else %}
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#formCategoryApp-{{item.id}}" data-bs-whatever="@getbootstrap">
            <span class="bi bi-plus"></span> Add Category
        </button>
    {% endif %}

    <div class="modal fade" id="formCategoryApp-{{item.id}}" tabindex="-1" aria-labelledby="formCategoryAppLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="formCategoryAppLabel">Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form
                        id="form-shortcut-app"
                        hx-post="/category-app/save"
                        hx-target="#_alert" 
                        hx-swap="afterbegin"
                        hx-on::after-request="
                            if(event.detail.successful){
                                if(!{{edit | tojson}}) {
                                    this.reset();
                                }
                                let modalEL = document.getElementById('formCategoryApp-{{item.id}}');
                                let modal = bootstrap.Modal.getInstance(modalEL);
                                modal.hide();
                                htmx.trigger('#homeListCategoryApp', 'refresh'); 
                            }
                        "
                    >
                        {% if edit %}
                            <input type="text" hidden id="id-app" name="id" value="{{item.id}}">
                        {% endif %}

                        <div class="mb-3">
                            <label for="name-app" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name-app" name="name" value="{{item.name}}" placeholder="Category Name">
                        </div>
                        <div class="mb-3">
                            <label for="icon-app" class="col-form-label">Icon <a href="https://icons.getbootstrap.com/"><i class="bi bi-info-circle"></i></a></label>
                            <input type="text" class="form-control" id="icon-app" name="icon" value="{{item.icon}}" placeholder="Ex: info-circle">
                        </div>
                        <div class="d-flex justify-content-between">
                            <diV>
                                {% if edit %}
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger"
                                        id="deleteCategoryApp-{{item.id}}"
                                        hx-delete="/category-app/{{item.id}}"
                                        hx-trigger='confirmed'
                                        onClick="Swal.fire({title: 'Delete Category', text:'Do you want to continue?'}).then((result)=>{
                                            if(result.isConfirmed){
                                                htmx.trigger(this, 'confirmed');  
                                            } 
                                        })"
                                        hx-target="#_alert"
                                        hx-on::after-request="htmx.trigger('#homeListShortcutApp-all', 'refresh');"
                                    >Delete</button>
                                {% endif %}
                            </diV>
                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}