
{% extends "base.jinja" %}
{% import "sys/chart.jinja" as cart %}
{% import "sys/text.jinja" as text %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">

        <div class="pb-4">
            <div class="row mb-5">
                <div class="col-md-6 mb-5 mb-md-0">
                    <div id="systemInfo">
                        <h4>
                            <i class="bi bi-info-circle"></i>
                            System Info
                        </h4>
                        {{text.base('Uptime', '/api/sys/uptime', 'text', 15)}}
                        {{text.base('Operating System', '/api/sys/info', 'os')}}
                        {{text.base('Architecture', '/api/sys/info', 'architecture')}}
                        {{text.base('CPU Cores', '/api/sys/info', 'ncpu')}}
                        {{text.base('RAM', '/api/sys/memory-usage', 'total')}}
                        {{text.baseHTMX('sys-battery-info', 'Battery', '/sys/battery', True)}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="diskInfo">
                        <h4>
                            <i class="bi bi-hdd"></i>
                            Disk
                        </h4>
                        <div class="d-flex">
                            <div class="w-50">
                                <div hx-get="/sys/disk" hx-trigger="load"></div>
                            </div>
                            {{ cart.disk('disk') }}
                        </div>
                    </div>
                </div>
            </div>

            {{ cart.realtimeResourceUsage('realtimeResourceUsage') }}

            <div class="row align-items-start">
                <div class="col">
                    <h4><i class="bi bi-bar-chart-steps"></i> Resource Tracker</h4>
                    {{ cart.resourceUsage('resource') }}
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        
    </script>
{% endblock %}
